[Interface]
PrivateKey = {{ client_private_key }}
Address = {{ wireguard_ip }}/{{ wireguard_mask_bits }}

[Peer]
PublicKey = {{ server_public_key }}
Endpoint = {{ server_endpoint }}:{{ wireguard_port }}
AllowedIPs = {{ wireguard_allowed_ips }}
PersistentKeepalive = {{ wireguard_persistent_keep_alive }}