[Interface]
PrivateKey = {{ wireguard_private_key }}
Address = {{ wireguard_ip }}/{{ wireguard_mask_bits }}
PostUp = iptables -A FORWARD -i %i -j ACCEPT; iptables -A FORWARD -o %i -j ACCEPT; iptables -A INPUT -p icmp --icmp-type echo-request -j DROP; iptables -t nat -A POSTROUTING -o {{ ansible_default_ipv4.interface }} -j MASQUERADE;
PostDown = iptables -D FORWARD -i %i -j ACCEPT; iptables -D FORWARD -o %i -j ACCEPT; iptables -A INPUT -p icmp --icmp-type echo-request -j ACCEPT; iptables -t nat -D POSTROUTING -o {{ ansible_default_ipv4.interface }} -j MASQUERADE
ListenPort = {{ wireguard_port }}
SaveConfig = true
